# Python
__pycache__/
*.pyc

# Environments
.venv/
rossmann-env/
project_rossmann/

# Jupyter
.ipynb_checkpoints/

# Data & artifacts (DO NOT COMMIT)
data/
models/
reports/figures/

# Editor/OS
.vscode/
.DS_Store
train.csv
test.csv
store.csv
sample_submission.csv
*.zip
data/
data/
rossmann-env/
